/* ==========================================================================
   Base
   ========================================================================== */
html, button, input, select, textarea {
    color: #222;
}

body {
    line-height: 1.4;
    font: normal 100% BrowalliaUPC;
    background: #353635 url("../img/background.gif") repeat;
    text-align: center;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
a {
    color: #CCC;
    text-decoration: none;
}
a:hover {
    color: #fff;
}

/* ==========================================================================
   Mis estilos
   ========================================================================== */

/* Los navegadores IE que sean menores de la versión 7, les aparecerá un mensaje */
.navegador-antiguo {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Este es el contenedor general de todos los elementos. */
.contenedor{
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    /* BOX-SHADOX */
    -moz-box-shadow: 0 0 12px #000;
    -ms-box-shadow: 0 0 12px #000;
    -o-box-shadow: 0 0 12px #000;
    -webkit-box-shadow: 0 0 12px #000;
    box-shadow: 0 0 12px #000;
}

/* 
 * CABECERA
 */
header {
    background: #363736;
    border-top: solid 1.6875em #363736; /*27/16*/
    border-bottom: solid .875em #363736; /*27/16*/
    position: relative;
    color: #fff;
    text-align: center;
}
/* Banner que aparece como fondo en la cabecera. */
.cabecera-imagen{

    overflow: hidden;
}
header .cabecera-imagen img {
    height: auto;
    display: block;
}
header hgroup {
    height: 7.8125em;
    position: absolute;
    top: -2.8075em;
    left: .125em;
    width: 318px; /*33.125%;*/
}
header hgroup h1 {
    height: 100%;
    width: 100%;
}

header hgroup h1 a {
    background: url("../img/logo.png") no-repeat;
    background-size: 100%;
    display: block;
    height: 100%;
    text-indent: -9999px;
    width: 100%;
}

.info-banner {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -15px;
    margin-right: 10px;
    text-align: right;
    width: 55%;   /*481px*/
}
.info-banner h3,
.info-banner time, #cuenta-regresiva li, .proximo-taller {
    background: rgba(0, 0, 0, 0.6);
}
.info-banner h3 {
    font-size: 4.9em;
    line-height: 0.7em;
    padding: 0 5px 10px 5px;
    font-weight: normal;
    margin-bottom: 1px;
    display: block;
}
.info-banner time {
    font-size: 1.75em;
    font-style: italic;
    line-height: 0.7em;
    padding: 0 10px 4px 0px;
    display: block;
    margin-bottom: 20px;
}
#cuenta-regresiva {
    display: block;
    margin: 0 0 1px 0;
}
#cuenta-regresiva li {
    font-size: 4.5em; /*72px*/
    font-style: italic;
    line-height: 0.4em;
    text-align: center;
    display: inline-block;
    list-style: none;
    padding: 10px 10px 0 5px;
    margin-left: 1px;
    width: 54px;

}
#cuenta-regresiva li span {
    font-size: 18px;
    display: block;
}

.proximo-taller {
    font-size: 1.125em;
    font-style: italic;
    text-align: center;
    width: 290px;
    float: right;
}

/* Estos son los estilos para los botones que están en la cabecera. */
.botones-compartir {
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0 0 -20px 10px;
}
.botones-compartir ul {
    display: inline-block;
    font-size: 0; /* Es para que los botones no tengan un line-height definido. */
    border-bottom: 10px solid #363736;
    padding: 0 20px;
    margin: 0;
    /* Border Radius */
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.botones-compartir ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 40px -20px 0;
}

.botones-compartir ul li:nth-child(3n) {margin-right: 0;}
/* Felix Barros:
 * El problema del margen fue soluciónado.
.botones-compartir ul li div.fb-like { margin-bottom: 7px; }*/


/* CONTENIDO */
.contenido {
    background: url("../img/background_container.gif");
    padding: 20px 10px;
}

/* Los siguientes estilos son para los Talleres de domingo. */
article.talleres-domingo {
    display: inline-block;
    margin: 40px 0;
    width: 100%;
    text-align: left;
}

article.talleres-domingo h1,
article.talleres-domingo p {
    font-size: 1.875em;
    color: #595353;
    font-weight: normal;
    line-height: 0.75em;
    margin-top: 10px;
}

.verde-agua {
    font-size: 3em;
    color: #009ebe;
    line-height: 0.40em;
    font-weight: 600;
    margin: 20px 0 0 0;
    display: block;
    text-align: left;
    /* Text Shadow */
    -webkit-text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
    -moz-text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
    -ms-text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
    -o-text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
}

.imagen-video-taller {
    width: 50.1%;
    float: left;
    text-align: center; 
    margin-right: 20px;
    margin-bottom: 20px;
}

.imagen-video-taller a {
    display: block;
    background: rgb(54, 55, 54);
    padding: 11px 14.5px;
    /* Border Radius */
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.imagen-video-taller img {
    width: 100%;
}

/*Estilo para los talleres pasados*/
.conte-videos{
    width: 100%;
}
.talleres-pasados{
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}

.talleres-pasados article{
    width: 20%;
    margin-right: 1.3em;
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
    margin-left: 1em;
    position: relative;

}
/* Estos son los estilos para los Talleres pasados. */
.talleres-pasados {
    margin-top: 20px;
}

.talleres-pasados h3 {
    margin-bottom: 20px;
}

.talleres-pasados article h1 {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    padding: 5px;
    margin-right: 10px;
    text-align: left;
    line-height: 0.90em;
    /* Box Sizing */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; 
}

.talleres-pasados article h1:hover {
    text-decoration: underline;
}

/*
 * PIE
 */
footer {
    background: #363736;
    color: #fff;
    line-height: 1.5em;
    font-size: 1.3em;
    text-align: left;
    padding: 0 10px;
}

footer p span {
    float: right;
}

/* ==========================================================================
   clases de ayuda
   ========================================================================== */

/*
 * BOX-SIZING
 * Esta clase permite se aplica a los elemento que tengan padding.
 */
.box-sizing {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}
/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Ocultar en ambos lectores de pantalla y navegadores: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Ocultar sólo visualmente, sino que esté disponible para los lectores de pantalla: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 900px) {
  

}

@media only screen and (max-width: 768px) {
    header hgroup{
        width: 280px;
         top: -2.6785em;
    }
    .info-banner {
        width: 65%;   /*481px*/
    } 

    .info-banner time{
    margin-bottom: 5px;
   }

    .conte-videos article{
        width: 25%;
    } 

     .imagen-video-taller{
       width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .info-banner {
        width: auto !important;
        margin-left: 10px;
        top: 2.3em;
    }
 
  
    .botones-compartir{
        display: none;
    }
   

   .conte-videos article{
        width: 40%;
   }
    
}

@media  screen and (max-width: 480px){
    .conte-videos article{
        width: 60%;
   }
    .info-banner{
        font-size: 83%;
        top: 3.3em;
    }
  
    .info-banner time{
    width: auto;
     }

}


@media only screen and (max-width: 320px) {
    .info-banner {
        text-align: center;
        top: 5em;
    }
    .info-banner h3 {
        font-size: 4em;
    }
    
    .conte-videos article{
        width: 70%;
    }
    .talleres-pasados h3{
        line-height: 0.6em;
        text-align: center;
    }
}



/*
@media only screen and(-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Ajustes de estilo para dispositivos de alta resolución 
}*/