{% extends "base.html" %}

{% block extra_header %}
<link rel="stylesheet" href="{{STATIC_URL}}css/video.css" />
{% endblock extra_header %}

{% load magicembed_tags %}

{% block contenido %}

		<div class="ver-video-principal">
                    <article>
                        <h1 class="verde-agua centrar">{{video.titulo}}</h1>
                        {{video.url|magicembed:"560x415"}}
                    </article>
        </div>
        
        <div id="disqus_thread" class="box-sizing"></div>
	
{% endblock contenido %}