{% extends "base.html" %}

{% block extra_header %}
<link rel="stylesheet" href="{{STATIC_URL}}css/video.css" />
{% endblock extra_header %}

{% block cabecera %}

			<header role="banner"><!-- CABECERA -->
					<hgroup>
						<h1><a href="/" title="Autodidact.as" rel="home">Autodidactas</a></h1>
						<h2 class="hidden">Comunidad informatica</h2>
					</hgroup>

					<div class="imagen-cabecera">
						<img src="{{STATIC_URL}}img/imagen_header.jpg" alt="" />
					</div>

					<aside class="info-banner">
					{% for taller in domingo %}
						<h3>{{taller.titulo}}</h3>
						<time>{{taller.fecha}}</time>
						<ul id="cuenta-regresiva"></ul>
					{% endfor %}	
						<span class="proximo-taller">< Proximo Taller ></span>
					</aside>
					<aside  class="botones-comparir">
						<h3 class="hidden">Compartir</h3>
						<ul>
							<li><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="felixricarb">Tweet</a></li>
							<li><div class="fb-like" data-href="http://localhost/" data-send="false" data-layout="box_count" data-width="74" data-show-faces="true" data-font="arial"></div></li>
							<li><div class="g-plusone" data-size="tall" data-href="http://localhost/"></div></li>
						</ul>
					</aside>
			</header><!-- /CABECERA -->
	
{% endblock cabecera %}

{% load magicembed_tags %}

{% block contenido %}

		<div class="ver-video-principal">
                    <article>
                        <h1 class="verde-agua centrar">{{video.titulo}}</h1>
                        {{video.url|magicembed:"560x315"}}
                    </article>
        </div>
        
        <div id="disqus_thread" class="box-sizing"></div>
	
{% endblock contenido %}