.ui-datepicker-header
  background: url($ipa bg-header.png)
  border-radius(4px 4px 0 0)
  color: #fff
  line-height: 2em
  position: relative

.ui-datepicker-prev,
.ui-datepicker-next
  display: block
  height: 20px
  margin-top: -10px
  overflow: hidden
  position: absolute
  text-indent: 100%
  top: 50%
  width: 20px

.ui-datepicker-prev
  left: 4px

.ui-datepicker-next
  right: 4px

.ui-datepicker-prev:before,
.ui-datepicker-next:before
  border-style: solid
  border-width: 10px
  content: ""
  margin-top: -10px
  position: absolute
  top: 50%

.ui-datepicker-prev:before
  border-color: transparent #fff transparent transparent
  left: 0

.ui-datepicker-next:before
  border-color: transparent transparent transparent #fff
  right: 0

.ui-datepicker-title
  text-align: center

.ui-datepicker-calendar
  border: 1px solid #ddd
  border-top: 0
  margin: 0

.ui-datepicker-calendar th
  padding: 0 5px

.ui-datepicker-calendar td
  line-height: 2.2em
  padding: 0

.ui-state-default
  color: #888
  display: block
  text-align: center
  padding: 0
  .ui-state-disabled &
    background-color: #f1f1f1
    &:hover
      color: #888
      background: #f1f1f1
      font-weight: 200

.ui-state-highlight
  color: #2a4d6d
  font-weight: 700

.ui-state-default:hover,
.ui-state-active
  font-weight: 700
  background: url($ipa bg-header.png)
  color: #fff

