@import '../libs/reset'
//@import '../libs/icons-bootstrap' // iconos de bootstrap by @twitter
@import 'nib/gradients'
@import 'nib/positions'
@import 'nib/vendor'
@import 'classes'
@import 'forms'
//@import 'datepicker' // Estilos editables para el datepicker de jquery UI
//@import 'animations' // archivos de animaciones