// imports
@import 'imports'

// colores
$dark_gray = #353635
$light_gray = #363736
$img="../img/"
$transparent_black= rgba(0, 0, 0, 0.6)
//fonts

// body
body
    font normal 100% BrowalliaUPC
    background #353635 url($img"background.gif") repeat
#page
    background #fff
    box-shadow 0 0 12px #000
    max-width 60em
    margin auto
    header
        border-top solid 1.6875em $light_gray /*27/16*/
        border-bottom solid .875em $light_gray /*27/16*/
        position relative
        color #fff
        width 100%
        .container_img_general
            img
                height auto
        hgroup
            height 7.8125em
            position absolute
            top -1.4375em 
            left 0.125em
            width 33.125%
            h1
                height 100%
                width 100%
                a
                    background transparent url($img"logo.png") no-repeat
                    background-size 100%
                    display block
                    height 100%
                    text-indent -9999px
                    width 100%
            h2
                display none
        h3
            background $transparent_black;
            box-sizing border-box
            font-size 5em /*80px*/
            height auto
            line-height 54px /*con em se descuadra*/
            overflow hidden
            padding 0 5px 6px 5px
            position absolute
            top 50px
            right 10px
            text-align right
            width 50.1041666%   /*481px*/ 
        time
            background $transparent_black
            box-sizing border-box
            font-size 30px
            font-style italic
            height auto
            padding 0 5px 2px 0;
            line-height 21px;
            position absolute
            top 167px
            right 10px
            text-align right
            width 42.708333%
        #day 
        #hours 
        #minutes 
        #seconds
            background $transparent_black
            font-size 4.5em /*72px*/
            font-style italic
            height 65px
            overflow hidden
            text-align center
            width 66px
            line-height 55px
            position absolute
            span
                display block
                font-size 18px /*si uso em me toma la medida  del contenedor*/
                overflow hidden
                position absolute
                bottom -20px
                width 100%
        #day
            position absolute
            top 192px
            right 211px
        #hours 
            position absolute
            top 192px
            right 144px
        #minutes
            position absolute
            top 192px
            right 77px 
        #seconds
            position absolute
            top 192px
            right 10px
        #next_workshop
            background $transparent_black
            font-size 1.125em
            font-style italic
            float left
            height 27px
            position absolute
            top 258px
            right 10px
            text-align center
            width 268px
        #social_networks
            position absolute
            bottom -20px
            text-align center
            width 100%
            ul 
                display inline-block
                margin auto
                li
                    display block
                    float left
                    margin 0 20px
                    text-align center
                    span
                        background #fff
                        border-radius 10px/*falta*/
                        color $light_gray
                        display block
                        font-size 1.5em
                        height 30px
                        margin auto
                        margin-bottom 8px
                        position relative
                        text-align center
                        width 59px
                        .figure
                            background transparent
                            border-radius 0
                            border-bottom 0px solid #fff
                            border-right 5px solid transparent
                            border-left 5px solid transparent
                            border-top 5px solid #fff
                            display inline-block
                            height 0
                            position absolute
                            bottom -12px
                            left 25px
                            text-align center
                            width 0
                    a
                        background url($img"social_networks.gif") no-repeat
                        display block
                        margin auto

                    #mar_you
                        background-position -4px 0
                        height 21px
                        width 61px
                        
                    #mar_twi
                        background-position 0 -21px
                        height 20px
                        width 69px
                        
                    #mar_face
                        background-position -13 -41px
                        height 20px
                        width 44px
                        
                    #mar_goo
                        background-position -9 -61px
                        height 20px
                        width 50px
                #border-down
                    background $light_gray
                    display block
                    float left
                    height 10px
                    width 100%
                    border-radius 0 0 10px 10px 
    //END HEADER
    #container
        background url($img"background_container.gif") repeat
        width 100%


/*

no trates como google chrome a quien te ve como internet explorer !!!
@media all and (max-width: 850px)
   #page header h3
        font-size 70px
*/