{% load gravatar %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Autodidact.as</title>
        <meta name="description" content="Autodidactas es una comunidad informatica." />
        <meta name="viewport" content="width=device-width" />

        <link rel="canonical" href="http://autodidact.as/" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" />
        <link rel="stylesheet" href="{{STATIC_URL}}css/styles.css" />
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.1.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery.scountdown.js" type="text/javascript"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
        {% block extra_header %}{% endblock extra_header %}

		<script type="text/javascript">
		// País del visitante
		$.getJSON('http://api.wipmania.com/jsonp?callback=?', function (data) {
  			$('.pais').html(data.address.country);
		});

		// Cuenta regresiva
		jQuery(function ($) {
			var _hora, hora = $("#hora"),
			proximo = $("#cuenta-regresiva"),
			timestamp = parseInt(proximo.attr('data-timestamp'));

			proximo.scountdown({
				callback: function (d, h, m, s) {
					$(".dias", proximo).text(d);
					$(".horas", proximo).text(h);
					$(".minutos", proximo).text(m)
					$(".segundos", proximo).text(s)
				},
				timestamp: timestamp
			});

			_hora = new Date(timestamp);
			hora.text(_hora.toString("h:mmtt"));

			function formatNumber(rep) {
				rep = rep + ''; // coerce to string
				if (rep < 1000) {
					return rep; // return the same number
				}
				else if (rep < 5000) { // place a comma between
					return rep.charAt(0) + ',' + rep.substring(1);
				}
				else { // divide and format
					return (rep / 1000).toFixed(rep % 1000 != 0) + 'k';
				}
			}
		});
		</script>

		<script type="text/JavaScript">
			<!--
		if ({{tiempo}} === 1){
			function AutoRefresh() {
				window.location.reload(true);
				console.log({{tiempo}})
			}
		}
		//   -->
		</script>

	</head>

<body {%if tiempo == 1%}onload="JavaScript:AutoRefresh();" {%else%} {%endif%}>
		<!--[if lt IE 7]>
    	<p class="navegador-antiguo">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    	<![endif]-->

    		<div class="contenedor"><!-- CONTENEDOR -->
    		{% block cabecera %}
    			
				<header role="banner"><!-- CABECERA -->
					<hgroup>
						<h1><a href="/" title="Autodidact.as" rel="home">Autodidactas</a></h1>
						<h2 class="hidden">Comunidad informatica</h2>
					</hgroup>
					{% for img in portada %}
						{%if img.arte%}
							<div class="cabecera-imagen">
								<img src="/uploads/{{img.arte}}" alt="{{img.titulo}}" />
							</div>
						{%else%}
							<div class="cabecera-imagen">
								<img src="{{STATIC_URL}}img/imagen_header.jpg" alt="" />
							</div>
						{%endif%}
					{% endfor %}

					<aside class="info-banner">
					{% for taller in portada %}
						<h3>{{taller.titulo}}</h3>
						<time>Domingo <span id="hora" class="big"> 7:00PM GMT-6</span> <span class="pais"></span></time>
						<ul id="cuenta-regresiva" data-timestamp="{{ timestamp }}">
						<li><div class="dias digito"></div><span>Días</span></li>
						<li><div class="horas digito"></div><span>Horas</span></li>
						<li><div class="minutos digito"></div><span>Minutos</span></li>
						<li><div class="segundos digito"></div><span>Segundos</span>
						</li>
						</ul>
						
					{% endfor %}	
						<span class="proximo-taller">< Próximo Taller ></span>
					</aside>
					<aside  class="botones-compartir">
						<h3 class="hidden">Compartir</h3>
						<ul>
							<li>
								<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="Autodidact_as">Tweet</a>
							</li>
							<li>
								<div class="fb-like" data-href="http://autodidact.as/" data-send="false" data-layout="box_count" data-width="74" data-show-faces="true" data-font="arial"></div>
							</li>
							<li>
								<div class="g-plusone" data-size="tall" data-href="http://autodidact.as/"></div>
							</li>
						</ul>
					</aside>
				</header><!-- /CABECERA -->

			{% endblock cabecera %}
		
		<div class="contenido box-sizing clearfix" role="main"><!-- CONTENIDO -->
 {% load magicembed_tags %}
	{% block contenido %}
		{% for taller in primervideo %}
			<article class="talleres-domingo"><!-- TALLERES-DOMINGO -->
				<div class="imagen-video-taller">
					<a href="{{taller.get_absolute_url}}"><img src="{{taller.url|magicthumbnail}}" alt="" /></a>
					<div class="sombra-caja"></div>
				</div>
				<span class="verde-agua">Taller:</span>
				<h1>{{taller.titulo}}</h1>
				<span class="verde-agua">Descripción:</span>
				<p>{{taller.descripcion|striptags|truncatewords:15}}</p>
				<span class="verde-agua">Tags:</span>
					<p>{{taller.tags}}</p>
				<span class="verde-agua">Ponente:</span>
					<h1>{{taller.usuario}}</h1>
			</article><!-- /TALLERES-DOMINGO -->
		{% endfor %}
			
			<div class="talleres-pasados"><!-- TALLERES-PASADOS -->
				<h3 class="verde-agua">Talleres pasados</h3>
				<section class="conte-videos">
					{% for pasado in pasados %}
				<article>
					<a href="{{pasado.get_absolute_url}}">
						<img src="{{pasado.url|magicthumbnail}}" alt="{{pasado.titulo}}" width="100%" height="36.3%" />
						<h1>{{pasado.titulo}}</h1>
					</a>
					<p class="hidden">{{pasado.descripcion|striptags|truncatewords:9}}</p>
				</article>
				
			{% endfor %}
				</section>
				
			</div><!-- /TALLERES-PASADOS -->

	{% endblock contenido %}

			</div><!-- /CONTENIDO -->

			<footer role="contentinfo"><!-- PIE -->
				<p>Gracias a todos los que hacen posible la comunidad #Autodidactas <span><a href="#" target="_black">Twitter</a> · <a href="#" target="_black">Facebook</a> · <a href="#" target="_black">Google+</a></span></p>
			</footer><!-- /PIE -->

		</div><!--  /CONTENEDOR-->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="{{STATIC_URL}}js/plugins.js"></script>
        <script src="http://platform.twitter.com/widgets.js"></script>
        <script src="{{STATIC_URL}}js/main.js"></script>
	</body>
</html>