{% load gravatar %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Inicio</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Informatic Pro" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<link rel="stylesheet" href="{{STATIC_URL}}css/styles.css"/>
	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.countdown.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.countdown.js" type="text/javascript"></script>

	{%block extra_js%}{%endblock%}
	
<script type="text/javascript">
$(function () {
	var austDay = new Date();
	austDay = new Date(austDay.getFullYear(), {{fecha_2|date:'m'}} -1, {{fecha_2|date:'d'}});
	$('#defaultCountdown').countdown({until: austDay});
});
</script>

<style type="text/css" media="screen">
.gravatar img {
	height: 42px;
	width: 42px;
}
	
</style>

</head>

<body>
	<div id="page"><!-- PAGE -->
		<header>
			<hgroup>
				<h1>
					<a href="./" title="InformaticPro.com">
						InformaticPro
					</a>
				</h1>
				<h2>
					Descripcion
				</h2>	
			</hgroup>
			<div class="container_img_general">
				<img src="{{STATIC_URL}}img/imagen_header.jpg">
			</div>
				<h3>
					Segundo taller de Pyton y django 
				</h3>
			<time>
				Domingo 7:00pm Nic/ 8:00pm Mexico
			</time>
				<div id="day">07 : <span>Dias</span></div>
				<div id="hours">05 : <span>Horas</span></div>
				<div id="minutes">12 : <span>Minutos</span></div>
				<div id="seconds">08<span>Segundos</span></div>

			<div id="next_workshop">
				< Proximo Taller >
			</div>
			<aside id="social_networks">
				<ul>
					<li>
						<span>34<span class="figure">
						</span></span>
						<a id="mar_you" href=""></a>
					</li>
					<li>
						<span>345<span class="figure">
						</span></span>
						<a id="mar_twi" href=""></a>
					</li>
					<li>
						<span>543<span class="figure">
						</span></span>
						<a id="mar_face" href=""></a>
					</li>
					<li>
						<span>3452<span class="figure">
						</span></span>
						<a id="mar_goo" href=""></a>
					</li>
					<span id="border-down"></span>
				</ul>
			</aside>
			<div id="info_middle"></div>
		</header><!-- end header-->
		
		<section id="container">
			<article id="general_new_container">
				<h2 id="new_talks_title">
					Charlas de Sabado
				</h2>
				<div id="new_talks_time">
					4:00pm Nic/ 5:00pm Mexico
				</div>
				<a id="new_talks_link" href="">
					Lista de capitulos <span></span>
				</a>
				<span id="new_talks_balloon">
				</span>
				<div class="container_video_home">
					<div class="marco_video_home">
						<a href=""></a>
					</div>
					<div class="shadow_marco_video_home"></div>
				</div>
			</article><!--end general_new_container-->
			<article id="general_new_container">
				<div class="container_video_home">
					<div class="marco_video_home">
						<a href=""></a>
					</div>
					<div class="shadow_marco_video_home"></div>
				</div>
				<span id="new_workshop_balloon">
				</span>
				<h3 class="new_workshop_title">
					Taller:
				</h3>
				<p class="new_workshop_text">
					Phyton y Django
				</p>
				<h3 class="new_workshop_title">
					Descripcion:
				</h3>
				<p class="new_workshop_text">
					Introduccion al lenguaje de programación mas utilizando el CMS mas famoso de PHYTON.
				</p>
			</article><!--end general_new_container-->
			<h3 id="past_workshops_h3">
				Talleres pasados
			</h3>
			<article class="past_workshops_container">
				<a href="">
					<img src="">
					<div class="past_workshops_h3">
					Teller de introduccion a Phyton
					</div>
				</a>
			</article>
		</section>
		<div id="defaultCountdown"></div>
		<p>charlas sabado</p>
		{%for charla in sabado%}
			Titulo: {{charla.titulo}}<br>
			Fecha: {{charla.fecha}}<br>
			Descripción: {{charla.descripcion}}<br>
			Usuario: <div class="gravatar">
				<img src="{% gravatar_url charla.usuario.email %}" />
			</div>{{charla.usuario.email}}
			
			
		{%endfor%}
		<br><br>
		<p>Taller domingo</p>
		{%for taller in domingo%}
			Titulo: {{taller.titulo}}<br>
			Fecha: {{taller.fecha}}<br>
			Descripción: {{taller.descripcion}}<br>
			Usuario: <div class="gravatar">
				<img src="{% gravatar_url taller.usuario.email %}" />
			</div>{{taller.usuario}}
		{%endfor%}
		<br><br>
		<p>Lista de curso</p>
		{%for curso in lista%}
			{% for a in curso %}
				Titulo: {{a.titulo}}<br>
				Fecha: {{a.fecha}}<br>
				Descripción: {{a.descripcion|truncatewords:4}}<br>
				Usuario: <div class="gravatar">
				<img src="{% gravatar_url a.usuario.email %}" />
			</div>{{a.usuario}}<br>
			{% endfor %}
		{%endfor%}
		<br><br>

		<footer>
			Pie de pagina!!
		</footer>
	</div><!-- /PAGE -->
</body>
</html>