<!DOCTYPE HTML>
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estiloenvivo.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--<script type="text/javascript" src="http://leninc.nodejitsu.com/socket.io/socket.io.js"></script>-->
	<meta charset="UTF-8">
	<title>Autodidactas.com</title>

	<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-36899527-1']);
		  _gaq.push(['_setDomainName', 'autodidact.as']);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();		
	</script>

</head>
<body>
	<header>
		{% for a in vivo %}
			<h1> {{a.titulo}}<span id="html">by</span> <span id="git">{{a.ponente}}</span></h1>
		{% endfor %}
			
		<!--<h2>Desde UNAM FAREM CHONTALES NICARAGUA FECITEC</h2>	
		<h3>La nueva era de la Programación</h3>-->
	</header>
	<!-- <div id="cont"><img alt="usuarios conectados" src="img/usr.png"/><span id="cant"></span></div> -->
	<section id="chatroom">
	<article id="video">
			<!--<iframe width="100%" height="560" src="http://www.youtube.com/embed/WgPFjLXZ3lk" frameborder="0" allowfullscreen></iframe>-->
			{% for a in vivo  %}
			<iframe width="100%" height="560" src="{{a.url_video}}" frameborder="0" allowfullscreen></iframe>
			{% endfor %}
		</article>
		
		<article id="chat">
		{% for a in vivo  %}
			<iframe style="height:630px;" type="text/html" width="100%" height="500px" src="{{a.url_chat}}" frameborder="0"></iframe>
        {% endfor %}
		</article>
	</section>
</body>
</html>
