@keyframes shake
    0%
        opacity 1
        translate translateX(0)
    25%
        opacity 0.85
        transform translateX(-20px)
    50%
        opacity 0.9
        transform translateX(20px)
    75%
        opacity 0.85
        transform translateX(-20px)
    100%
        opacity 1
        transform translateX(0)